* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}

button {
  font: inherit;
  background: #3659b5;
  border: 1px solid #3659b5;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #083fca;
  border-color: #3659b5;
}

#app {
  display: flex;
  justify-content: space-between;
  /* height: 100vh; */
}

.tasks {
  margin: 1rem;
  border: 1px solid #ff0062;
  width: 30vw;
  height: fit-content;
}

.tasks header {
  background: #ff0062;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#completed-tasks {
  border-color: #15c39a;
}

#completed-tasks header {
  background: #15c39a;
}

.tasks h2 {
  margin: 0;
  color: white;
}

.tasks ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  height: auto;
}

.tasks li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
  background: #ffffff;
}

.tasks li h2 {
  color: #ff0062;
  margin: 0.5rem 0;
}

#completed-tasks li h2 {
  color: #15c39a;
}

.tasks li h3 {
  color: #575757;
  font-size: 1rem;
}

.project li p {
  margin: 0;
}

.droppable {
  background: #ffe3ee;
}

#completed-tasks .droppable {
  background: #15c39a21;
}

#user-input {
  width: 25vw;
  height: 30vh;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #3659b5;
  background: #f7f7f7;
}
